.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid rgba(66, 11, 231, 0.87);
  border-radius: 10px;
  background-color: #151414;
}

.text{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin: 10px 0;
    color: white;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  background: rgba(66, 11, 231, 0.87);
}

button:hover {
  background-color: #780fda;
}
